body {
  background: rgb(209, 114, 201);
  color: rgb(24, 18, 18);
  padding: 10px;
  font-family: fantasy;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(209, 47, 161);
  margin: 0 auto;
  display: flex;
  padding: 10px;
  border-: dashed;
  border-color: white;
}

h1 {
  display: flex;
  align-items: center;
  color: rgb(235, 193, 193);
  flex: 1;
  margin: 0;
}

#nav-ul {
  list--type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #e4bebe;
}

/* main container area beneath menu */
main {
  background: rgb(208, 170, 235);
  display: flex;
  margin-top: 20px;
  border-: dashed;
  border-color: white;
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 200px;
}

.content {
  flex: 1;
  padding: 15px;
}

/* interests section s */
#interests {
  border: 4px rgb(235, 226, 226) ridge;
  padding: 5px;
  margin-top: 20px;
}

h2,
h3 {
  margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color:rgb(230, 80, 205);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #eed7d7;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-style: ridge;
  border-width: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}